<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <%= link_to 'TodoApp', '#', class: 'navbar-brand' %>
    <% if user_signed_in? %> 
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'プロフィール変更', edit_user_registration_path %> |
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "サインイン", new_user_registration_path, class: 'float-xs-right' %>
      <span class="navbar-text float-xs-right text-muted">|</span>
      <%= link_to "ログイン", new_user_session_path, class: 'float-xs-right' %>
    <% end %>
  </div>
</div>
</header>

<!-- <p class="notice"><%= notice %></p> -->
<!-- <p class="alert"><%= alert %></p> -->
<div class="container">
<%= yield %>
</div>

</body>
</html>
